body {
  max-width: 1200px;
  font: normal 14px/1.5 "Montserrat", "Helvetica Neue", sans-serif;
  color: #37474f;
  margin: 30px auto;
}

h1 {
	 width: 500px;
	 max-width: 90%;
 	 margin: 0 auto 10px;
 	 line-height: 100%;
 	 display: flex;
 	 justify-content: center;
 	 text-align: center
}



.subheader {
	width: 400px;
	max-width: 90%;
 	margin: 0 auto;
 	display: flex;
 	justify-content: center;
}
.container {
	display: flex;
	margin: 40px auto;
	flex-wrap: wrap;
	justify-content: center;
}

.snippet {
	width: 300px;
	float: left;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 100%;

}

.snippet p {
	padding-left: 5px;
	padding-right: 5px;
}

.snippet:nth-of-type(2n+1) {
    clear: left;
  }

.snippet img {
	width: 500px;
	max-width: 100%;
}

.arrow_back {
	float: left;
	width: 30px;
	margin-right: 10px; 
	margin-left: 10px;
}

h2 {
	/*max-width: 70%;
	float: left;*/
}


a {
	text-decoration: none;
	color: #37474f;
}

a:hover { 
    color: blue; /* Ссылка красного цвета */
   } 

.image_block {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	max-width: 90%;
}

.image_block img {
	width: 600px;
	max-width: 100%;
}

.description_block {
	float: left;
	margin: 0 auto;
	max-width: 90%;
}
.description_block p {
	max-width: 90%;
	width: 350px;
	margin-left: 20px;
}

.backword {
	font: bold 18px/1.5 "Montserrat", "Helvetica Neue", sans-serif;
 	color: #37474f;
}


@media screen and (min-width: 300px) {
  	.backword {
		font: bold 19px/1.5 "Montserrat", "Helvetica Neue", sans-serif;
	 	color: #37474f;
	}
}

@media screen and (min-width: 400px) {
  	.backword {
		font: bold 22px/1.5 "Montserrat", "Helvetica Neue", sans-serif;
	 	color: #37474f;
	}
}

iframe {
	max-width: 100%;
}



